services:  
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg-admin
    ports:
      - 5050:80
    environment:
       PGADMIN_DEFAULT_EMAIL: "test@gmail.com"
       PGADMIN_DEFAULT_PASSWORD: "testuser1"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgadmin_data:

